* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    position: absolute;
    width: 100%;
    margin: 0;
    font-family: "Gill Sans", sans-serif, Arial, Helvetica ;
}

.inner-body {
    position: relative;
    width: 70%;
    left: 15%;
    right: 15%;
    margin: 0;
}


/********************* nav bar ********************/
header {
    background-color: #333;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2em;
}

nav ul li {
    display: inline;
    margin-right: auto;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: white;
    color: #333;
}

nav ul li i:hover{
    background-color: white;
    color: #333;
}


/********************* home ********************/
#banner {
    background-color: #2389da;
    height: 300px;
    text-align: center;
    align-content: center;
    font-size: calc(0.70vw + 0.70vh); /* changes text with div */
}

canvas {
    display: block;
}


/********************* about ********************/
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-left {
    width: 40%;
    padding: 20px;
}

.column-right {
    width: 60%;
    padding: 20px;
}

.column img {
    max-width: 100%;
    height: auto;
}


/********************* skills ********************/
.programming {
    text-align: center;
}

.programming img {
    width: 100x;
    height: 100px;
    padding: 10px;
}


/********************* project ********************/
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 50px;
}

.project-card {
    width: 300px;
    height: 350px;
    perspective: 1000px;
    margin: 10px;
}

.project-card .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer; 
}

.project-card.flipped .card-inner {
    transform: rotateY(180deg);
}

.project-card .front, .project-card .back {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 1px;
}

.project-card .front img {
    width: 100%;
    height: 90%;
    padding-bottom: 8px;
    border-radius: 10px 10px 0px 0px;
}

.project-card .card-inner h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0px;
}

.project-card .back {
    background-color: white;     /* must have a background color or front shows */
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.project-card .back .icons {
    height: 12%;
}

.project-card .back img {
    height: 30px;
    width: 30px;
}

.project-card .back span {
    text-align: left;
    overflow: scroll;
    height: 80%;
}

.project-card .back .buttons {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    padding-top: 5px;
}

.project-card .project-card-button {
    display: inline-block;
    width: 100px;
    height: 25px;
    
}

.project-card .project-card-button:hover {
    background-color: #333;
    color: white;
}

.project-card .project-card-button a{
    text-decoration: none;
    color: black;
}


/********************* contact *******************/
.form-container {
    background-color: #2389da;
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    color: white;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid white;
    border-radius: 4px;
}

.form-container button {
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.form-container button:hover {
    background-color: #333;
    color: white;
}


/********************* footer ********************/
footer {
    background-color: #333;
    position:absolute;
    width: 100%;
}

footer .social  {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer i {
    font-size: 2.75em;
    padding-left: 40px;
}

footer i:hover {
    font-size: 3em;
    color: #2389da
    
}

.fa-brands, .fa-solid {
    color: white;
    
}


/********************* responsive ********************/
@media (max-width: 1000px) {
    .about-content {
        flex-direction: column;
    }
    .project-card {
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .project-card {
        width: 48%;
        margin: 1%;
    }
}

/********************* hides scroll bar ********************/
/* Chrome and Safari */
.project-card .back span::-webkit-scrollbar {
    display: none;
}

/* IE, Edge and Firefox */
.project-card .back span{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
