body {
    position: absolute;
    width: 70%;
    left: 15%;
    right: 15%;
    background-color: antiquewhite;
}

/********************* nav bar ********************/
header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

/********************* about ********************/
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.column {
    flex: 1;
    padding: 20px;
}

.column img {
    max-width: 100%;
    height: auto;
}

/********************* skills ********************/
.programming {
    text-align: center;
}

.programming img {
    width: 100x;
    height: 100px;
    padding: 10px;
}

/********************* project ********************/
.projects-container {
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.project-card {
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 10px;
}

.project-card .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer; 
}

.project-card .front, .project-card .back {
    /* background-color: paleturquoise; */
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
}

.project-card img {
    width: 100%;
    height: 90%;
    border-radius: 10px 10px 0px 0px;
}

.project-card .card-inner h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0px;
}

.project-card .back {
    background-color: red;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card.flipped .card-inner {
    transform: rotateY(180deg);
}

.project-card-button {
    display: inline-block;
    /* background-color: darkcyan;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 10px; */
}
  
.project-card-button:hover {
    background-color: #0056b3;
}


/********************* responsive ********************/
@media (max-width: 1000px) {
    .about-content {
        flex-direction: column;
    }
    .project-card {
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .project-card {
        width: 48%;
        margin: 1%;
    }
}
