* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    position: absolute;
    width: 70%;
    left: 15%;
    right: 15%;
    margin: 0;
    background-color: antiquewhite;
}

/********************* nav bar ********************/
header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

/********************* about ********************/
.about-content {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex: 1;
    padding: 20px;
}

.column img {
    max-width: 100%;
    height: auto;
}

/********************* skills ********************/
.programming {
    background-color: beige;
    text-align: center;
}

.programming img {
    width: 100x;
    height: 100px;
    padding: 10px;
}

/********************* project ********************/
.projects-container {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 15px;
}

.project-card {
    width: 300px;
    height: 350px;
    perspective: 1000px;
    margin: 10px;
    
}

.project-card .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer; 
}

.project-card.flipped .card-inner {
    transform: rotateY(180deg);
}

.project-card .front, .project-card .back {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
    justify-content: center;
    align-items: center;
}

.project-card .front img {
    width: 100%;
    height: 90%;
    padding-bottom: 8px;
    border-radius: 10px 10px 0px 0px;
}

.project-card .card-inner h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0px;
}

.project-card .back {
    background-color: white;     /* must have a background color or front shows */
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.project-card .back .icons {
    height: 12%;
}

.project-card .back img {
    height: 30px;
    width: 30px;
}

.project-card .back span {
    text-align: left;
    overflow: scroll;
    height: 80%;
}

.project-card .back .buttons {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    padding-top: 5px;
}

.project-card .project-card-button {
    display: inline-block;
    width: 100px;
    height: 25px;
}


/********************* footer ********************/
footer {
    background-color: #333;
    margin-top: 10px;
    padding: 10px 0 0 0;
    align-content: center;
}

footer h1, h2, h3, h4 {
    color: white;
    text-align: center;
}

.footer-bottom p{
    color: white;
}


/********************* responsive ********************/
@media (max-width: 1000px) {
    .about-content {
        flex-direction: column;
    }
    .project-card {
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .project-card {
        width: 48%;
        margin: 1%;
    }
}
